{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}"/>
  <title>APIBlog</title>
</head>
<body>
    
  <div class="api-section">  <h1>Hello! World</h1>
    {{results}}
    <button onclick="reloadFact()">Reload</button>
  </div>

  <div class="api-section-2">
    <h1>Random Dog</h1>
    <img src={{results2}} alt="random dog"/>
    <button onclick="reloadRandomDog()">Reload</button>
  </div>

  <div class="api-section">
    <h1>Random Fox</h1>
    <img src={{results3}} alt="random fox"/>
    <button onclick="reloadFact()">Reload</button>
  </div>

  <div class="api-section-2">
    <h1>Random Facts</h1>
    {{results4}}
    <button onclick="reloadFact()">Reload</button>
  </div>

  <div class="api-section">
    <h1>Chuck Norris Jokes</h1>
    {{results5}}
    <button onclick="reloadChuckNorrisJoke()">Reload</button>
  </div>

  <script>
    async function reloadRandomDog() {
      try {
        const response = await fetch('https://dog.ceo/api/breeds/image/random');
        if (!response.ok) {
          throw new Error('Failed to fetch random dog data');
        }
        const data = await response.json();
        const randomDogImgUrl = data.message;
        document.getElementById('randomDogSection').innerHTML = `<img src="${randomDogImgUrl}" alt="Random Dog">`;
      } catch (error) {
        console.error(error);
      }
    }

    async function reloadFact() {
      try {
        const response = await fetch('https://uselessfacts.jsph.pl/random.json?language=en');
        if (!response.ok) {
          throw new Error('Failed to fetch random fact');
        }
        const data = await response.json();
        const randomFact = data.text;
        document.getElementById('factSection').innerText = randomFact;
      } catch (error) {
        console.error(error);
      }
    }

    async function reloadChuckNorrisJoke() {
      try {
        const response = await fetch('https://api.chucknorris.io/jokes/random');
        if (!response.ok) {
          throw new Error('Failed to fetch Chuck Norris joke');
        }
        const data = await response.json();
        const chuckNorrisJoke = data.value;
        document.getElementById('chuckNorrisJokeSection').innerText = chuckNorrisJoke;
      } catch (error) {
        console.error(error);
      }
    }
  </script>
</body>
</html>

